{% extends 'base.html.twig' %}

{% block title %}Math operations!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1> Hi, Anita!</h1>
    <h1>This is {{ controller_name }}! ✅</h1>
    You can resolve math operations with one number here:
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
    {{ ans }}
</div>
{% endblock %}
